## 무엇이 중복일까
문자열을 전달 받아 해당 문자열에서 중복해서 나타난 문자들을 담은 list를 반환하는
duplicated_letters 함수를 작성하시오.

duplicated_letters(‘apple’) # => [‘p’]

duplicated_letters(‘banana’) # => [’a’, ‘n’]

In [27]:
def duplicated_letters(data):
    da=[]
    da.extend(data)
    li = []
    for i in da:
        if da.count(i) >1:
            li.append(i)
            
    return list(set(li))

In [69]:
def duplicated_letters(data):
    a = []
    for i in data:
        if data.count(i) >1:
             a.append(i)
    return list(set(a))

In [70]:
duplicated_letters('apple')

['p']

In [71]:
duplicated_letters('banana')

['a', 'n']

##  소대소대
문자열을 전달 받아 해당 문자열을 소문자와 대문자가 번갈아 나타나도록 변환하여
반환하는 low_and_up 함수를 작성하시오. 
이때, 전달 받는 문자열은 알파벳으로만 구성된다.

low_and_up(‘apple’) # => aPpLe

low_and_up(‘banana’) # => bAnAnA

In [88]:
def low_and_up(data):
    a = 0
    li = []
    for i in data:
        if a % 2:
            li.append(i.upper())
        else:
            li.append(i)
        a += 1
    return ''.join(li)

In [89]:
low_and_up('apple')

'aPpLe'

In [90]:
low_and_up('banana')

'bAnAnA'

## 솔로 천국 만들기
정수 0부터 9까지로 이루어진 list를 전달 받아, 연속적으로 나타나는 숫자는 하나만 남
기고 제거한 list를 반환하는 lonely 함수를 작성하시오. 
이때, 제거된 후 남은 수들이 담긴 list의 요소들은 기존의 순서를 유지해야 한다.

lonely([1, 1, 3, 3, 0, 1, 1]) # => [1, 3, 0, 1]

lonely([4, 4, 4, 3, 3]) # => [4, 3]

In [113]:
def lonely (data):
    li = []
    li.append(data[0])
    
    for i in range(1,len(data)):
        if data[i] != data[i-1]:
            li.append(data[i])   
    
    return li

In [111]:
lonely([1, 1, 3, 3, 0, 1, 1])

[1, 3, 0, 1]

In [112]:
lonely([4, 4, 4, 3, 3])

[4, 3]